
.taskLists {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 30px;
}


.taskList{
  align-items: center;
  margin: 20px;
  min-width: 400px;
  min-height: 400px;
  margin: 5px;
  border-style: ridge;
  border-color: grey;
  background-color: rgba(207, 212, 212, 0.123);
  margin-bottom: 30px;
}

.addButton{
  margin: auto;
  margin-top: 40px;
  border-color: rgba(240, 248, 255, 0.521);
  color: rgba(240, 248, 255, 0.788);
  padding: 15px;
  font-size: 26px;
}
.addButton:hover{
  background-color: rgba(243, 96, 204, 0.541);
}
