
.taskLists {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  overflow: auto;
}


.taskList{
  align-items: center;
  margin: 20px;
  min-width: 400px;
  min-height: 400px;
  margin: 5px;
  border-style: ridge;
  border-color: grey;
  background-color: rgba(207, 212, 212, 0.123);
  margin-bottom: 30px;
}

