@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  font-family: "Andale Mono", serif;
  background-color: RGBA(46, 49, 49, 1);
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}


mat-card {
  margin: 1em;
  cursor: pointer;
}

.cdk-drag-placeholder {
  opacity: 0;
}


.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




