<div cdkDropListGroup class="tasklist" *ngIf="taskList$ | async as taskList">
  <h1>{{ taskList.title }}</h1>
  <div *ngIf="tasks$ | async as tasks">
    <div
      cdkDropList
      id="{{ taskList.id }}"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="taskList.tasks"
      [cdkDropListConnectedTo]="listIDS"
      class="dropzone"
    >
      <div *ngFor="let task of taskList.tasks; index as i">
        <div cdkDrag>
          <task [id]="taskList.tasks[i]"></task>
        </div>
      </div>
    </div>
  </div>
</div>
